$pageWidth: 850px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$rightSidePanelWidth: 350px;
$sidePanelWidth: 500px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + $sidePanelWidth + $rightSidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
